#header nav {
  background-color: rgb(12, 136, 181);
}
#header a:hover {
  color: black;
}
#header a {
  color: white;
  font-size: 20px;
}

.logo {
  height: 80px;
  width: 80px;
}

.text {
  margin-left: 20px;
  font-family: cursive, sans-serif;
  font-size: 30px;
}

